.address {
  background-color: $basic-yellow;
  padding: 57px 25px 34px 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -25px;
  position: relative;
  z-index: $z-address;
}
