.alphabet {
  display: flex;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-radius: 4px;
  flex-wrap: wrap;
  width: 218px;
  margin-left: 25px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 466px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    // grid-column: 1 / -1;
    // grid-row: 1 / 2;
  }
}
