.blockquote {
  color: $basic-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 28px 0 28px 25px;

  @media (min-width: $tablet-width) {
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    padding-left: 34px;
  }
}

.blockquote__text {
  margin: 0;
  padding-bottom: 18px;
}

.author__name {
  font-style: normal;
}

.blockquote__author {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    margin-top: 28px;
  }
}

.author__info .br-first {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.author__info .br-second {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
