.button {
  background-color: $basic-yellow;
  border: none;
  color: $basic-blue;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;

  &--special {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
  }
}

.button--transparent {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $basic-blue-light;
  border: 3px solid $basic-blue-light;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 22px;
}

.button--square {
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  min-height: 62px;
}

// .button--transparent::after,
// .button--square::after {
//   content: "";
//   position: absolute;
//   top: 25px;
//   right: 20px;
//   background-image: url("./../img/right-icon.svg");
//   width: 13px;
//   height: 13px;
//   background-repeat: no-repeat;
// } вместо этого, код ниже!

.button__icon {
  width: 13px;
  height: 13px;
  margin-left: auto;
}

.form-page__user .user__button {
  display: flex;
  justify-content: center;
  background-color: $border-color-1;
  border-radius: 20px;
  padding: 10px 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.09em;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 21px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 190px;
    position: absolute;
    top: -173px;
    right: 96px;
  }
}

.form-page__user .button__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue;
}

.form-page__user .button__text--full {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-page__user .button__text--short {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.about__service .button--square {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 80px;
    font-size: 24px;
    line-height: 24px;
    margin-top: 53px;
    border-radius: 20px;
    width: 276px;
    padding-left: 32px;
    padding-right: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 86px;
  }
}

// .about__service .button--square::after {
//   @media (min-width: $tablet-width) {
//     top: 34px;
//     right: 33px;
//   }
// }

.about__directions .button--square,
.about__users .button--square {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-top: 3px;
  padding-right: 23px;

  @media (min-width: $tablet-width) {
    padding-right: 31px;
  }
}

.about__directions .button--square {
  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding-top: 31px;
    padding-bottom: 27px;

    padding-left: 33px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
    margin-top: 0;
    margin-bottom: 29px;
  }
}

.about__directions .button--square::after {
  top: 37px;
  right: 30px;
}

.about__users .button {
  display: flex;
}

.registration__form .button__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.registration .button--square {
  width: 60px;
  height: 62px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 40px;
  }
}

.registration .button__icon {
  margin: 0 auto;
}

.promo__nav .button {
  padding-top: 12px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 20px;
}

.step .button {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    padding-top: 29px;
    padding-bottom: 27px;
    width: 284px;
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.option .button.submit {
  background-color: $basic-white;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
}

.address .button--transparent {
  padding: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    padding-top: 27px;
    padding-bottom: 23px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-right: 62px;
  }
}

.address .button--transparent::after {
  @media (min-width: $tablet-width) {
    top: 32px;
    right: 31px;
  }
}

.about__users .button--square {
  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    padding-top: 41px;
    padding-bottom: 39px;
    padding-left: 31px;
    border-radius: 20px;
    // max-width: 100%;
    // margin-right: 24px;
    // margin-left: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    width: 282px;
  }
}

.about__users .button--square::after {
  @media (min-width: $tablet-width) {
    top: 34px;
    right: 36px;
  }
}

.catalog-page__main-header .button,
.form-page__main-header .button {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 20px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 28px;
    padding-left: 29px;
    text-transform: uppercase;
  }
}

.add-plan .button {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $basic-blue-light;
  text-transform: uppercase;
}

.step-1 .button {
  padding-right: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
    text-transform: none;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}

.step-3 .button,
.step-2 .button {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.step-3 .button:nth-child(2),
.step-2 .button:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.step-3 .button {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.companions-filter .button.submit {
  background-color: $basic-white;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 17px;
  line-height: 17px;
  padding: 13px 0;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }
}

.companion .button {
  @media (min-width: $tablet-width) {
    border-radius: 25px;
    text-transform: uppercase;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    width: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -5px;
    padding-top: 8px;
  }
}

.button--square:hover {
  background-color: $special-yellow-dark;
}

.button--square:active {
  color: rgba($basic-blue-light, 0.3);
}

.button--square:active .button__icon {
  opacity: 0.3;
}

.button--transparent:hover {
  background-color: $special-blue-1;
  color: $basic-white;
}

.button--transparent:hover .button__icon {
  fill: $basic-white;
  opacity: 1;
}

.button--transparent:active .button__icon {
  fill: $basic-white;
  opacity: 0.3;
}

.button--transparent:active {
  color: rgba($basic-white, 0.3);
}
