.change-quantity {
  border: 1px solid $border-color-1;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  height: 43px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  margin-bottom: 18px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    margin-right: 35px;
    height: 68px;
  }
}

.change-quantity:last-child {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.change-quantity__button {
  height: 100%;
  width: 43px;
  background-color: transparent;
  border: none;
  color: $block-background-3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-quantity__button--minus {
  @media (min-width: $tablet-width) {
    padding-left: 29px;
  }
}

.change-quantity__button--plus {
  @media (min-width: $tablet-width) {
    padding-right: 29px;
  }
}

.change-quantity__button::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: $block-background-3;

  @media (min-width: $tablet-width) {
    width: 20px;
  }
}

.change-quantity__button--plus::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: $block-background-3;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    width: 20px;
  }
}

.change-quantity__quantity {
  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.change-quantity:hover {
  border-color: $border-color-4;
}

.change-quantity:hover .change-quantity__button::after {
  background-color: $border-color-4;
}

.change-quantity:hover .change-quantity__button::after,
.change-quantity:hover .change-quantity__button::before {
  background-color: $border-color-4;
}

.change-quantity .change-quantity__button:hover::after,
.change-quantity .change-quantity__button:hover::before {
  background-color: $border-color-5;
}

.change-quantity:active {
  border-color: $basic-blue;
}

.change-quantity:active .change-quantity__button::after {
  background-color: $basic-blue;
}

.change-quantity:active .change-quantity__button::after,
.change-quantity:active .change-quantity__button::before {
  background-color: $basic-blue;
}
