.companions-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.companion__subtitle {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
}

.companion__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 8px;
    margin-left: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion__name:hover + .companion__online {
  opacity: 0.6;
}

.companion__name:active + .companion__online {
  opacity: 0.3;
}

.companion {
  position: relative;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: $basic-white;
  padding: 15px 22px 23px 25px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-top: 35px;
    padding-right: 41px;
    padding-bottom: 22px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 32px;
    max-height: 285px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
  }

  &:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
  }
}

.companions {
  background-color: $block-background-1;
}

.companion__avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    width: 190px;
    height: 190px;
    margin-right: 36px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 285px;
    height: 285px;
    margin: 0;
    margin-right: 0;
  }
}

.companion__online {
  background-color: $block-background-12;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  margin-left: 58px;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-left: 40px;
  }
}

.companion__tag-list {
  width: 176px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 227px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 8px;
  }
}

.companion__tag-list .tag-list__item {
  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
}

.companion:hover .companion__image {
  transform: scale(1.2);
}
