.companions-filter {
  background-color: $basic-yellow;
  border-radius: 20px;
  padding: 26px 20px 22px 25px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding: 37px 37px 37px 33px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 44px;
    padding-right: 46px;
    align-self: flex-start;
    padding-top: 47px;
    width: 285px;
    padding-bottom: 47px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.companions-filter__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 29px;
    padding-left: 4px;
  }
}

.companions-filter__title br {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
