.main-header .contacts-list {
  grid-column: 1/3;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.promo__nav .contacts-list {
  display: flex;
}

.main-page__main-header--open .contacts-list {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
}

.feedback .contacts-list {
  @media (min-width: $tablet-width) {
    margin-top: 57px;
    margin-left: 79px;
  }
}
