.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    align-items: center;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
