.countries {
  display: none;
  padding: 0 25px;
  width: 100%;
  background-color: $block-background-5;
  z-index: $z-modal;
  position: absolute;
  padding-bottom: 29px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-bottom: 81px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.country-filter__modal--open .countries {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content max-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr max-content;
    row-gap: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
  }
}

.form-page .countries {
  z-index: $z-modal;
  width: 220px;
  position: absolute;
  background-color: $basic-white;
  padding: 0;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  top: 40px;

  @media (min-width: $tablet-width) {
    // position: relative;
    border-radius: 0;
    padding-left: 27px;
    width: auto;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
    top: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    top: 69px;
  }
}
