.country-options__header {
  background-color: $basic-blue-light;
  color: $basic-white;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 14px 0;
  padding-left: 17px;
}

.country-options {
  margin: 0 auto;
}
