.country-filter__head {
  background-color: $block-background-5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 17px;
  padding-left: 25px;
  padding-right: 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: $z-country-filter;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 94px;
    margin-top: -45px;
    padding-left: 47px;
    padding-right: 68px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding-left: 80px;
    padding-top: 95px;
    padding-right: 114px;
    padding-bottom: 63px;
  }
}

.country-filter__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $special-blue-1;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 0;
  }
}

.country-filter__icon {
  width: 16px;
  height: 10px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 23px;
    height: 15px;
    display: block;
    margin-right: 22px;
  }
}

.country-filter {
  z-index: $z-country-filter;
}

.country-filter__head-list {
  display: none;
  padding-left: 25px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }
}

.country-filter__head-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $special-blue-1;
  text-transform: uppercase;
  opacity: 0.3;
  padding-bottom: 9px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 33px;
  }
}

.country-filter__head-item--current {
  opacity: 1;
}

.country-filter__modal--open {
  position: relative;
}

.country-filter__modal--open .country-filter__head-list {
  display: block;
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.country-filter__open-countries {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.open-countries__text-close {
  display: none;
}

.country-filter__modal--open .open-countries__text-close {
  @media (min-width: $tablet-width) {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $special-blue-1;
    text-transform: uppercase;
    margin-right: 60px;
  }
}

.country-filter__modal--open .open-countries__text {
  display: none;
}

.country-filter__modal--open .country-filter__head {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content max-content;
  row-gap: 22px;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    border-radius: 0;
  }
}

// .country-filter__modal {
//   transition: 1s;
// }
