.country-list {
  border: 1px solid $border-color-1;
  border-top: none;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 19px;
  padding-bottom: 20px;
  padding-right: 20px;
  color: $special-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 38px;
    padding-right: 34px;
    border: none;
    border-left: 1px solid $border-color-1;
    border-radius: 0;
  }
}

.country-list__item {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }
}
