.direction__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.direction__title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.direction__subtitle {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

@media (min-width: $tablet-width) {
  .direction {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 140px;
  }

  .direction__wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .direction__image-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
