.direction__title {
  color: $basic-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.direction__subtitle {
  color: rgba($special-grey, 0.3);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
