.direction {
  position: relative;
  background-color: $block-background-1;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 185px;
    grid-template-rows: 140px;
    height: 140px;
    padding: 0 36px;
  }
}

.direction__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr;
  background-color: $basic-white;
  padding: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.direction .flag {
  position: absolute;
  top: 86px;
  left: 25px;

  @media (min-width: $tablet-width) {
    top: 25px;
    left: 465px;
    width: 75px;
    height: 47px;
  }
}

.direction__image {
  width: 100%;
  height: 110px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    // outline: 1px solid red;
    grid-column: 2 / 3;
    height: 100%;
  }
}

.direction__image-thailand {
  background-image: url("./../../img/thailand-direction-mobile.png");

  @media (min-width: $tablet-width) {
    background-position: -375px 0;
    background-image: url("./../../img/thailand-direction-desktop.png");
  }
}

.direction__image-france {
  background-image: url("./../../img/france-direction-mobile.png");

  @media (min-width: $tablet-width) {
    background-position: -375px 0;
    background-image: url("./../../img/france-direction-desktop.png");
  }
}

.direction__image-czech {
  background-image: url("./../../img/czech-direction-mobile.png");

  @media (min-width: $tablet-width) {
    background-position: -375px 0;
    background-image: url("./../../img/czech-direction-desktop.png");
  }
}

.direction__title {
  color: $basic-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.direction__subtitle {
  color: rgba($special-grey, 0.3);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.directions-list {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}
