.flag-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 257px;
}

.flag {
  margin-right: 20px;
}

.flag:last-child {
  margin-right: 0;
}

.form-page .flag-wrapper {
  display: none;
}

.about__users .flag-wrapper {
  @media (min-width: $tablet-width) {
    top: 272px;
  }
}
