.flag-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 259px;
}

.flag {
  margin-right: 20px;
  width: 35px;
  height: 24px;
}

.step-2 .flag {
  margin-right: 0;
}

.form-page .flag-wrapper {
  display: none;
}

.about__users .flag-wrapper {
  @media (min-width: $tablet-width) {
    top: 272px;
  }
}

.form-page .flag {
  width: 35px;
  height: 25px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.wish-list__item .flag {
  width: 26px;
  height: 18px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 18px;
  }
}

.direction .flag {
  width: 35px;
  height: 24px;
  position: absolute;
  z-index: 2;
  top: 86px;
  left: 25px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    top: 16px;
    left: 399px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 47px;
    top: 23px;
    left: 339px;
  }
}
