.flag-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 257px;
}

.flag {
  margin-right: 20px;
}

.flag:last-child {
  margin-right: 0;
}

.form-page .flag-wrapper {
  display: none;
}

.about__users .flag-wrapper {
  @media (min-width: $tablet-width) {
    top: 272px;
  }
}

.about__directions .flag {
  @media (min-width: $desktop-width) {
    width: 70px;
    height: 47px;
    top: 23px;
    left: 339px;
  }
}

.step-3 .flag,
.select-country__flag .flag {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.step-2 .flag {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.step-3 .flag {
  @media (min-width: $desktop-width) {
    margin-right: 116px;
  }
}

.wish-list__item .flag {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 18px;
  }
}

.direction .flag {
  width: 35px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}
