.footer {
  padding: 38px 25px 19px 25px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -37px;
  z-index: $z-footer;
  background-color: $basic-white;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 46px 40px 32px 38px;
    align-items: center;
    margin-top: -52px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 60px 43px 58px;
    margin-top: -153px;
    justify-content: flex-start;
  }
}

.form-page .footer {
  margin-top: 43px;
  z-index: $z-form-footer;

  @media (min-width: $tablet-width) {
    margin-top: -66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
  }
}

.catalog-page .footer {
  margin-top: 0;
}
