.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    grid-template-columns: max-content 1fr max-content max-content max-content;
    grid-template-rows: 1fr;
    row-gap: 12px;
  }

  .main-header .site-list {
    grid-column: 2 / 5;
  }

  .main-header .logo {
    grid-column: 1 / 2;
  }

  .main-header .contacts-list {
    grid-column: 5 / 6;
  }

  .main-header .main-header__button {
    grid-column: 6 / 7;
  }
}
