.main-header {
  color: $special-blue-1;
  padding: 20px 26px;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-left: 60px;
    padding-right: 60px;
    // position: sticky;
    top: 0;
    z-index: $z-sticky-header;
  }
}

.form-page .main-header,
.catalog-page .main-header {
  background-color: $block-background-4;

  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }
}

.main-header__button {
  grid-column: 1 / 3;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.main-page__main-header--open .main-header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
  padding: 12px 0 8px 0;
}

.main-page__main-header {
  &--no-js,
  &--open {
    @media (max-width: $only-mobile) {
      background-color: $basic-white;
      color: $special-blue-1;
      padding-top: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.main-header--sticky {
  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-bottom: 13px;
    background-color: $basic-white;
    display: flex;
  }
}

.main-header.main-header--scroll {
  background-color: $basic-white;
}
