.like__quantity {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }
}

.companion__like {
  position: absolute;
  top: 60px;
  left: 70px;

  @media (min-width: $tablet-width) {
    position: static;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 150px;
  }
}

.like__icon {
  width: 12px;
  height: 13px;
  fill: $special-blue-1;
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.like__wrapper {
  width: 30px;
  height: 30px;
  background-color: $block-background-5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;

  &--active {
    background-color: $block-background-10;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.like__icon--active {
  display: none;
}

.like__wrapper--active .like__icon.like__icon--active {
  opacity: 1;
  display: block;
}

.like__wrapper--active .like__icon {
  display: none;
}

.like {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 50px;
  }
}
