// .list {
//   border: 1px solid $border-color-1;
//   padding: 25px;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   border-radius: 10px;
// }

.list__title {
  display: none;
  position: absolute;
  top: 0;
  background-color: $special-blue-light;
  padding: 0 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-page .list__title {
  display: flex;
}

.companion__vehicles-list .list__title {
  position: static;
  display: flex;
  background-color: $basic-white;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: none;
}
