.logo__image {
  width: 96px;
  height: 15px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.logo--dark .logo__image {
  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 198px;
    height: 60px;
  }
}

.logo--dark {
  display: none;
}

.footer .logo--dark {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer .logo {
  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.main-header--no-js .logo--dark,
.main-header--open .logo--dark,
.main-header--sticky .logo--dark,
.main-header.main-header--scroll .logo--dark {
  display: block;
}

.main-header--no-js .logo--light,
.main-header--open .logo--light,
.main-header--sticky .logo--light,
.main-header.main-header--scroll .logo--light {
  display: none;
}

.logo__link {
  cursor: pointer;
  border: none;
}

.catalog-page__footer .logo {
  margin-top: 17px;
}
