.logo {
  background-image: url("./../../img/logo-mobile-dark.png");
  width: 100px;
  height: 15px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("./../../img/logo-tablet-light.png");
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("./../../img/logo-desktop-light.png");
    width: 200px;
    height: 52px;
  }
}

.main-page .logo,
.form-page .logo,
.catalog-page .logo {
  background-image: url("./../../img/logo_mobile.png");
}

.footer .logo {
  background-image: url("./../../img/logo-mobile-dark.png");
  background-repeat: no-repeat;
  padding-bottom: 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-image: url("./../../img/logo_footer_tablet.png");
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("./../../img/logo_footer_desktop.png");
    width: 200px;
    height: 52px;
  }
}

.footer .logo__wrapper {
  width: 100px;
  height: 15px;
}
