// у враппера длина зависит от уровня
.lvl-wrapper {
  position: absolute;
  top: 18px;
  left: 18px;
}

.lvl {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparentize($basic-black, 0.4);
  color: $basic-white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lvl::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  // background-image: url("./../img/orange-border.svg");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.lvl__number {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.lvl__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.form-page .lvl-wrapper {
  @media (min-width: $tablet-width) {
    position: static;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.form-page .lvl {
  background-color: transparent;
  color: $basic-blue;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion__level .lvl {
  background-color: transparent;
  color: $basic-blue-light;
  width: 43px;
  height: 43px;
}

.companion__level .lvl::before {
  width: 43px;
  height: 43px;
}

.companion__level .lvl__text {
  display: none;
}

.form-header .lvl-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form-header .lvl__text,
.form-header .lvl__number {
  @media (min-width: $desktop-width) {
    display: block;
    color: $basic-white;
  }
}

.companion__level .lvl-wrapper {
  position: static;
}
