// у враппера длина зависит от уровня
.lvl-wrapper {
  position: absolute;
  top: 18px;
  left: 18px;
}

.lvl {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparentize($basic-black, 0.4);
  color: $basic-white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .lvl::before {
//   position: absolute;
//   content: "";
//   top: -4px;
//   left: -4px;
//   border: 4px solid green;
//   border-radius: 50px;
//   width: 60px;
//   height: 60px;
//   background-repeat: no-repeat;
//   clip: rect(0, 50px, 100px, 0);
// }

.lvl__number {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.lvl__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.form-page .lvl-wrapper {
  @media (min-width: $tablet-width) {
    position: static;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.form-page .lvl {
  background-color: transparent;
  color: $basic-blue;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion__level .lvl {
  background-color: transparent;
  color: $basic-blue-light;
  width: 43px;
  height: 43px;
}

.companion__level .lvl::before {
  width: 43px;
  height: 43px;
}

.companion__level .lvl__text {
  display: none;
}

.form-header .lvl-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form-header .lvl__text,
.form-header .lvl__number {
  @media (min-width: $desktop-width) {
    display: block;
    color: $basic-white;
  }
}

.companion__level .lvl-wrapper {
  position: static;
}

$circleLength: 2 * 3.1416 * 28px;

.lvl-circle {
  position: absolute;
  stroke-dasharray: $circleLength;
  stroke-dashoffset: $circleLength * (100 - 80) / 100;
  transform: rotate(-90deg);
  stroke-linecap: round;
}
