.open-modal__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $special-blue-1;
    margin-right: 25px;
  }
}

.open-modal {
  background-color: transparent;
  border: none;
  display: flex;
  text-transform: uppercase;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-top: 20px;
  }
}

.open-modal__icon {
  width: 17px;
  height: 13px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 6px;
  }
}
