.form-header,
.companions-header {
  background-color: $block-background-4;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.form-header__title,
.companions-header__title {
  color: $basic-white;
  background-color: $block-background-4;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.form-header__wrapper {
  display: flex;
}

.companions-header__link {
  display: none;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
