.form-header,
.companions-header {
  background-color: $block-background-4;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-top: 35px;
  padding-bottom: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    padding-bottom: 0;
    padding-top: 40px;
    padding-right: 155px;
  }
}

.form-page .form-header {
  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.form-header {
  margin-bottom: 4px;
}

.form-header::after,
.companions-header::after {
  content: "";
  position: absolute;
  left: 25px;
  height: 5px;
  border-radius: 4px;
  background-color: $special-orange;
}

.companions-header::after {
  width: 172px;
  bottom: -3px;

  @media (min-width: $tablet-width) {
    width: 287px;
    height: 8px;
    bottom: -5px;
    left: 75px;
  }

  @media (min-width: $desktop-width) {
    bottom: -4px;
    left: 127px;
  }
}

.form-header::after {
  width: 214px;
  bottom: -2px;

  @media (min-width: $tablet-width) {
    width: 358px;
    height: 8px;
    bottom: -4px;
    left: 75px;
  }

  @media (min-width: $desktop-width) {
    left: 126px;
    bottom: -4px;
  }
}

.form-header__title,
.companions-header__title {
  color: $basic-white;
  // background-color: $block-background-4;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 76px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 99px;
  }
}

.form-header__title {
  @media (min-width: $desktop-width) {
    padding-top: 64px;
  }
}

.companions-header__title {
  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}

.form-page .form-header__wrapper {
  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.form-header__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    overflow: hidden;
  }
}

.header-link {
  text-decoration: none;
  display: none;
  color: $basic-white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 75px;
    padding-right: 73px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-link__text {
  margin-right: 23px;
}

.companions-header {
  z-index: $z-page-header;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
    padding-right: 49px;
  }
}
