.rate__number {
  color: $basic-white;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

.rate .action__item {
  color: $special-blue-2;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.rate__number.rate__one {
  background-color: $special-orange;
}

.rate__number.rate__two {
  background-color: $special-yellow-dark;
}

.rate__number.rate__three {
  background-color: $basic-yellow;
}
