.route {
  background-color: $basic-yellow;
  padding: 63px 25px 25px 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -30px;
}

.route .action__item {
  color: $basic-blue-light;
  font-size: 16px;
  line-height: 22px;
}

.route .action {
  margin-bottom: 32px;
}
