.site-list {
  color: $special-blue-1;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  grid-column: 1 / 3;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    color: $basic-white;
    flex-direction: row;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-left: 145px;
    flex-wrap: wrap;
    position: relative;
  }
}

.site-list::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: $basic-white;
    top: 25px;
    left: -105px;
  }
}

.main-header .site-list__item {
  @media (min-width: $desktop-width) {
    margin-right: 34px;
    margin-bottom: 12px;
    margin-top: 18px;
  }
}

.form-page .site-list {
  color: $basic-white;
}

.main-header--no-js .site-list,
.main-header--open .site-list {
  display: flex;
  flex-direction: column;
  padding-top: 71px;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding-top: 95px;
    padding-left: 57px;
  }
}

.main-header--no-js .site-list__link,
.main-header--open .site-list__link {
  text-decoration: none;
  color: $special-blue-1;
}

.main-header--sticky .site-list {
  @media (min-width: $desktop-width) {
    color: $special-blue-1;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-left: 145px;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    .site-list__text {
      display: inline-block;
      transition: transform 0.3s;
      position: relative;

      &::before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
      }
    }

    &:hover .site-list__text {
      color: $basic-yellow;
      transform: translateY(-100%);
    }

    &:active .site-list__text {
      color: rgba($basic-yellow, 0.3);
    }

    @media (min-width: $desktop-width) {
      color: $basic-white;
      text-decoration: none;
    }
  }
}
