.step-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.step-3 .add-plan__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.step-3 .add-plan__text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.step-3 .purpose__title {
  grid-column: 1 / 2;
}

.step-3 .purpose__flag {
  grid-column: 2 / 3;
}

.step-3 .purpose__input {
  grid-column: 1 / -1;
}

.step-3 .step__buttons-wrapper {
  grid-column: 1 / -1;
}

@media (min-width: $desktop-width) {
  .step-3 .pagination {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
