.step-3 {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.step-3 .add-plan__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.step-3 .add-plan__text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 218px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.step-3 .add-plan__purpose {
  grid-column: 1 / 2;
}

.step-3 .flag {
  grid-column: 2 / 3;
}

.step-3 .add-plan__input {
  grid-column: 1 / -1;
}

.step-3 .step-buttons {
  grid-column: 1 / -1;
}


@media (min-width: $desktop-width) {
  .step-3 .pagination {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .step-3 .add-plan__input {
    grid-column: 1 / 2;
  }

  .step-3 .add-plan__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .step-3 .add-plan__text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .step-3 .add-plan__purpose {
    grid-column: 1 / 2;
  }

  .step-3 .flag {
    grid-column: 2 / 3;
  }


  .step-3 .step-buttons {
    grid-column: 1 / -1;
  }
}
