.symbol {
  width: 41px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid $border-color-1;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 53px;
    height: 68px;
    font-size: 20px;
    line-height: 20px;
    background-color: transparent;
    border: none;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &--selected {
    background-color: $special-blue-3;
    border-color: $special-blue-3;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.symbol:nth-child(11) {
  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
  }
}

.symbol:nth-child(16) {
  @media (min-width: $desktop-width) {
    padding-bottom: 46px;
  }
}

.symbol:nth-child(21) .symbol__title,
.symbol:nth-child(22) .symbol__title,
.symbol:nth-child(23) .symbol__title,
.symbol:nth-child(24) .symbol__title,
.symbol:nth-child(25) .symbol__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.symbol__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    opacity: 0.3;
    color: $special-blue-1;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.symbol-results__link,
.symbol__result-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  text-transform: none;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.symbol--selected .symbol__link {
  color: $basic-white;

  @media (min-width: $tablet-width) {
    color: $special-blue-1;
    opacity: 1;
  }
}

.symbol--selected .symbol__results {
  // display: block;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  position: absolute;
  bottom: -226px;
  left: 0;
  display: none;

  @media (min-width: $tablet-width) {
    top: 0;
    left: auto;
    right: -104px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: block;
  }
}

.symbol__results {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.symbol__result {
  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.symbol__title {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    color: $special-blue-1;
    opacity: 1;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.countries__upper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 20px;
  }
}

.symbol-results--mobile {
  grid-row: 2 / 3;
  padding-left: 25px;
  padding-top: 14px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
