.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: $special-grey;
}

.tag-list__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 4px;
}

.main-page .tag-list {
  width: 180px;
  flex-wrap: wrap;
  justify-content: center;
}

.about__users .tag-list__item {
  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
}

.about__users .tag-list {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 24px;
  }
}

.form-page .tag-list {
  color: rgba($special-grey, 0.6);
}

.form-page .tag-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 7px;
    font-size: 20px;
    line-height: 22px;
  }
}

.form-page__user .list-wrapper__tag-list {
  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }
}

.list-wrapper .tag-list {
  display: flex;
  flex-wrap: wrap;
}
