.tag-list {
  display: flex;
  color: $special-grey;
}

.tag-list__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 4px;
}

.form-page .tag-list {
  color: rgba($special-grey, 0.6);
}

.form-page .tag-list-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.main-page .tag-list {
  width: 180px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-page .tag-list-wrapper {
  margin-top: 15px;
  margin-bottom: 12px;
}

.about__users .tag-list__item {
  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
}

.about__users .tag-list {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 24px;
  }
}
