.tooltip-wrapper {
  position: relative;
  z-index: $z-modal;
}

@media (min-width: $desktop-width) {
  .tooltip {
    position: absolute;
    display: none;
  }

  .tooltip__data {
    background-color: $block-background-22;
    color: $basic-white;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .tooltip__icon {
    position: absolute;
    top: -8px;
    left: 45%;
  }

  .vehicles-list__item:hover .tooltip {
    display: flex;
    // bottom: -100px;
    bottom: 0 100%;
  }

  .select-country__flag:hover > .tooltip-wrapper {
    display: flex;
    // top: 115%;
  }

  .flag__container.flag__container--with-tooltip:hover > .tooltip-wrapper {
    display: flex;
    // top: 100%;
    // right: -50%;
  }
}
