.user {
  background-color: $basic-white;
  border-radius: 14px;
  position: relative;
  width: 270px;
  margin-bottom: 8px;
  overflow: hidden;
}

.users-list__item {
  overflow: hidden;
}

.user__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $basic-blue-light;
  margin-left: 10px;
}

.user__online {
  border-radius: 50px;
  width: 6px;
  height: 6px;
  background-color: $special-red;
}

.user__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__information {
  padding: 27px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page .user {
  background-color: $special-blue-light;
  width: 100%;
}

.form-page .user__name,
.form-page .user__online {
  display: none;
}

.user__button {
  display: none;
}

.users-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
