.user {
  background-color: $basic-white;
  border-radius: 11px;
  position: relative;
  width: 270px;
  margin-bottom: 8px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 285px;
    border-radius: 20px;
  }
}

.user__information {
  padding: 23px 59px 17px 43px;
  display: flex;
  flex-direction: column;
}

.users-list__item {
  overflow: hidden;
}

.user__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $basic-blue-light;
}

.user__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-page__user {
  background-color: $block-background-1;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  position: relative;
  z-index: $z-user;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-left: 124px;
    padding-top: 69px;
    padding-right: 59px;
  }
}

.user__online {
  background-color: $special-red;
  margin-right: 10px;
  margin-bottom: 17px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.form-page .user__name,
.form-page .user__online {
  display: none;
}

.user__button {
  display: none;
}

.users-list {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.form-page .user__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-page__user .user__avatar {
  margin-right: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.about__users .users-list {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.about__users .users-list__item {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.about__users .users-list__item:first-child {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.about__users .user__information {
  padding: 23px 59px 17px 43px;

  @media (min-width: $tablet-width) {
    padding: 26px 59px 23px 28px;
  }
}

.about__users .user__name {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}

.about__users .user__avatar {
  width: 270px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.form-header .user__avatar {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    border-radius: 8px;
    margin-right: 0;
  }
}

.form-header__wrapper .user__avatar {
  width: 190px;
  height: 190px;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
