.main-page .vehicles-list {
  margin-left: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 53px;
  }
}

.vehicles-list__item {
  margin-right: 7px;
}

.list-wrapper .vehicles-list__item {
  width: 32px;
  height: 32px;
  background-color: $basic-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.list-wrapper .vehicles-list {
  display: flex;
  justify-content: center;
}
