.main-page .vehicles-list {
  margin-left: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 53px;
  }
}

.vehicles-list__item {
  margin-right: 12px;
  position: relative;
}

.catalog-page .vehicles-list__item {
  margin-right: 0;
}

.list-wrapper .vehicles-list__item {
  width: 32px;
  height: 32px;
  background-color: $basic-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.list-wrapper .vehicles-list {
  display: flex;
  justify-content: center;
}

.companion__vehicles-list .vehicles-list {
  display: flex;
  flex-direction: row;
  padding-top: 11px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 16px;
  }
}

.companion__vehicles-list .vehicles-list__item {
  background-color: $block-background-1;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 26px;
    height: 25px;
  }
}

.user .vehicles-list__item {
  background-color: transparent;
  width: 21px;
  height: 21px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 23px;
    height: 22px;
  }
}

.user .vehicles-list {
  display: flex;
}

.companion__vehicles-list .vehicles-list__icon {
  display: block;
  width: 14px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 22px;
    height: 22px;
  }
}

.vehicles-list__item--active .vehicles-list__icon {
  opacity: 1;
  fill: $basic-blue-light;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.vehicles-list__icon {
  fill: $block-background-16;

  &:hover {
    fill: $block-background-17;
  }

  &:active {
    opacity: 0, 1;
  }
}

.suboptions-wrapper .vehicles-list {
  display: flex;
  padding-bottom: 7px;
  padding-top: 4px;

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-left: 4px;
  }
}

.suboptions-wrapper .vehicles-list__item {
  width: 32px;
  height: 32px;
  background-color: $basic-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.suboptions-wrapper .vehicles-list__icon {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.suboptions-wrapper .vehicles-list__item:hover {
  filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
}

.suboptions-wrapper .vehicles-list__item:active {
  background-color: $block-background-5;
}
