// Основные цвета проекта (названия дал дизайнер)
$basic-blue: #161c35;

// поискать где нужен это цвет
$basic-blue-super-light: #7b7f8d;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-blue-light: #dfe3f0;
$special-grey: #444444;
$basic-blue-light: #1d2e5b;
$special-red: #f47e7e;
$special-orange: #ff8d30;
// Дополнительные цвета проекта (без названий)
$basic-white: #ffffff;
$special-blue-dark: #192144;
$basic-black: #000000;
