// Основные цвета проекта (названия дал дизайнер)
$basic-blue: #161c35;

// поискать где нужен это цвет
$basic-blue-super-light: #7b7f8d;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-blue-light: #dfe3f0;
$special-grey: #444444;
$basic-blue-light: #1d2e5b;
$special-red: #f47e7e;
$special-orange: #ff8d30;
// Дополнительные цвета проекта (без названий)
$basic-white: #ffffff;
$special-blue-1: #192144;
$special-blue-2: #132576;
$basic-black: #000000;
$block-background-1: #edeff6;
$block-background-2: #e6e8f1;
$block-background-3: #cccccc;
$block-background-4: #182044;
$block-background-5: #e2e5f2;
$block-background-6: #121936;
$block-background-7: #ffa530;

$border-color-1: #cbced9;
$border-color-2: #d6d9e6;
$special-sealer: #ff5c23;
// не цвета
$desktop-width: 1440px;
$tablet-width: 768px;
