// Основные цвета проекта (названия дал дизайнер)
$basic-blue: #161c35;

// поискать где нужен это цвет
$basic-blue-super-light: #7b7f8d;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-blue-light: #dfe3f0;
$special-grey: #444444;
$basic-blue-light: #1d2e5b;
$special-red: #f47e7e;
$special-orange: #ff8d30;
// Дополнительные цвета проекта (без названий)
$basic-white: #ffffff;
$special-blue-1: #192144;
$special-blue-2: #132576;
$special-blue-3: #1d2e5b;
$basic-black: #000000;
$block-background-1: #edeff6;
$block-background-2: #e6e8f1;
$block-background-3: #cccccc;
$block-background-4: #182044;
$block-background-5: #e2e5f2;
$block-background-6: #121936;
$block-background-7: #ffa530;
$block-background-8: #e5e5e5;
$block-background-9: #d4d9eb;
$block-background-10: #f9eaea;
$block-background-11: #f02323;
$block-background-12: #f97676;
$block-background-13: #bbf085;
$block-background-14: #d6daed;

$border-color-1: #cbced9;
$border-color-2: #d6d9e6;
$border-color-3: #f3c72b;
$special-sealer: #ff5c23;

$phone-button-hover: #f26926;

$lvl__divider: #f2f2f2;
$special-lvl__divider: #e1e3e9;

// не цвета
$desktop-width: 1440px;
$tablet-width: 768px;
$only-mobile: 767px;

// main
$z-map: 10;
$z-steps: 11;
$z-footer: 20;
$z-address: 30;
$z-feedback: 40;
$z-about-rates: 50;
$z-about-users: 60;
$z-about-directions: 70;
$z-about-service: 80;
$z-sticky-header: 81;

// form
$z-checkbox: -1;
$z-user: 10;
$z-plans: 20;
$z-add-plan: 30;
$z-form-footer: 40;
$z-modal: 100;

// catalog
$z-page-header: 40;
$z-country-filter: 30;
$z-companions: 20;
