.site-list {
  color: $special-blue-dark;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
}
